ion-title{
    text-align: center;
    margin-left: -4rem;
}
ion-icon{
    margin-left: 2rem;
    font-size: 2rem;
    color: white;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
